In [1]:
import pandas as pd
import numpy as np
from preprocess import k_user_interactions, k_core
from utils import load_raw_df, df_to_sparse, gini

In [2]:
def get_stat_dict(rating_matrix):
    NUM_USERS, NUM_ITEMS = rating_matrix.shape
    NUM_RATINGS = rating_matrix.nnz
    NUM_RATINGS_PER_USER = NUM_RATINGS / NUM_USERS

    DENSITY = NUM_RATINGS / (NUM_USERS * NUM_ITEMS)
    SPARSITY = 1 - DENSITY
    SHAPE = NUM_USERS / NUM_ITEMS
    
    user_popularity = rating_matrix.sum(1).A.reshape(-1)
    item_popularity = rating_matrix.sum(0).A.reshape(-1)

    sorted_user_popularity = np.sort(user_popularity)
    sorted_item_popularity = np.sort(item_popularity)

    GINI_USER = gini(sorted_user_popularity)
    GINI_ITEM = gini(sorted_item_popularity)

    CONCENTRATION = sum(sorted_item_popularity[-int(len(item_popularity) * 0.05):]) / NUM_RATINGS

    ret = {
        '# Users': NUM_USERS,
        '# Items': NUM_ITEMS,
        '# Ratings': NUM_RATINGS,
        '# Ratings per user': NUM_RATINGS_PER_USER,
        'Sparsity': SPARSITY,
        'Shape': SHAPE,
        'Gini User': GINI_USER,
        'Gini Item': GINI_ITEM,
        'Concen.': CONCENTRATION
    }
    return ret

In [3]:
data_to_file = {
    'ml-1m': 'data/ml-1m/ratings.dat',
    'ml-10m': 'data/ml-10m/ratings.dat',
    'ml-20m': 'data/ml-20m/ratings.csv',
    'ml-25m': 'data/ml-25m/ratings.csv',
    'amusic': 'data/amusic/Digital_Music_5.json',
    'acd': 'data/acd/CDs_and_Vinyl_5.json',
    'acna': 'data/acna/Cell_Phones_and_Accessories_5.json',
    'agames': 'data/agames/Video_Games_5.json',
    'ciao': 'data/ciao/ratings.dat',
    'epinions': 'data/epinions/ratings_data.txt',
    'yelp2015': 'data/yelp2015/yelp.rating',
    'yelp2018': 'data/yelp2018/yelp.csv',
    'gowalla': 'data/gowalla/loc-gowalla_totalCheckins.txt',
    'citeulike': 'data/citeulike/users.dat',
    'pinterest': 'data/pinterest/pinterest.csv'
}
data_to_sep = {
    'ml-1m': '::',
    'ml-10m': '::',
    'ml-20m': ',',
    'ml-25m': ',',
    'amusic': ',',
    'acd': ',',
    'acna': ',',
    'agames': ',',
    'ciao': '\t',
    'epinions': ' ',
    'yelp2015': '\t',
    'yelp2018': ',',
    'gowalla': '\t',
    'citeulike': ' ',
    'pinterest': ','
}

In [4]:
dataset_list = list(data_to_file.keys())

In [5]:
raw_df_dict = {d: None for d in data_to_file}

# Original

In [6]:
%%time
stat_df = pd.DataFrame(
    columns=['dataset', '# Users', '# Items', '# Ratings', '# Ratings per user', 'Sparsity', 'Shape', 'Gini User', 'Gini Item', 'Concen.'])
for dataset in dataset_list:
    print(dataset)
    if raw_df_dict[dataset] is None:
        raw_df = load_raw_df(dataset, data_to_file, data_to_sep)
        raw_df_dict[dataset] = raw_df
    else:
        raw_df = raw_df_dict[dataset]
    
    raw_df = k_user_interactions(raw_df, 1)
    
    num_unique_users = len(pd.unique(raw_df.user))
    num_unique_items = len(pd.unique(raw_df.item))
    
    shape = (num_unique_users, num_unique_items)
    rating_matrix = df_to_sparse(raw_df, shape)

    stat_dict = get_stat_dict(rating_matrix)
    stat_dict['dataset'] = dataset
    stat_df = stat_df.append(stat_dict, ignore_index=True)

ml-1m
initial user, item: 6040 3706
after filter : 6040 3706
ml-10m
initial user, item: 69878 10677
after filter : 69878 10677
ml-20m
initial user, item: 138493 26744
after filter : 138493 26744
ml-25m
initial user, item: 162541 59047
after filter : 162541 59047
  0%|          | 0/169781 [00:00<?, ?it/s]amusic
100%|██████████| 169781/169781 [00:01<00:00, 105510.75it/s]
initial user, item: 16566 11797
after filter : 16566 11797
acd
100%|██████████| 1443755/1443755 [00:18<00:00, 77517.94it/s]
initial user, item: 112395 73713
after filter : 112395 73713
acna
100%|██████████| 1128437/1128437 [00:10<00:00, 107448.46it/s]
initial user, item: 157212 48186
after filter : 157212 48186
agames
100%|██████████| 497577/497577 [00:05<00:00, 89380.10it/s]
initial user, item: 55223 17408
after filter : 55223 17408
ciao
initial user, item: 6762 16610
after filter : 6762 16610
epinions
initial user, item: 40163 139738
after filter : 40163 139738
yelp2015
initial user, item: 25677 25815
after filter : 25677 25815
yelp2018
initial user, item: 45919 45538
after filter : 45919 45538
gowalla
initial user, item: 107092 1280969
after filter : 107092 1280969
citeulike
initial user, item: 5551 16980
after filter : 5551 16980
pinterest
initial user, item: 55187 9916
after filter : 55187 9916
CPU times: user 7min 17s, sys: 41.2 s, total: 7min 58s
Wall time: 7min 57s

In [7]:
stat_df

,dataset,# Users,# Items,# Ratings,# Ratings per user,Sparsity,Shape,Gini User,Gini Item,Concen.
0,ml-1m,6040,3706,1000209,165.597517,0.955316,1.629790,0.528624,0.633562,0.282754
1,ml-10m,69878,10677,10000054,143.107330,0.986597,6.544722,0.570700,0.805249,0.516455
2,ml-20m,138493,26744,20000263,144.413530,0.994600,5.178470,0.580701,0.902942,0.714144
3,ml-25m,162541,59047,25000095,153.807932,0.997395,2.752739,0.589469,0.941897,0.844548
4,amusic,16566,11797,145292,8.770494,0.999257,1.404255,0.375600,0.431506,0.247570
5,acd,112395,73713,1402148,12.475181,0.999831,1.524765,0.465575,0.543188,0.335323
6,acna,157212,48186,1120771,7.129042,0.999852,3.262607,0.209092,0.587514,0.378678
7,agames,55223,17408,473427,8.573004,0.999508,3.172277,0.323024,0.584914,0.348421
8,ciao,6762,16610,146997,21.738687,0.998691,0.407104,0.551811,0.530903,0.312775
9,epinions,40163,139738,664823,16.553121,0.999882,0.287416,0.676261,0.693562,0.533856
10,yelp2015,25677,25815,696865,27.139658,0.998949,0.994654,0.450890,0.603678,0.351168
11,yelp2018,45919,45538,1183609,25.776019,0.999434,1.008367,0.426837,0.581005,0.345775
12,gowalla,107092,1280969,3981334,37.176764,0.999971,0.083602,0.662713,0.539023,0.362772
13,citeulike,5551,16980,204986,36.927761,0.997825,0.326914,0.470634,0.369647,0.209829
14,pinterest,55187,9916,1463580,26.520376,0.997325,5.565450,0.140110,0.451105,0.189882

# 10 user interactions

In [8]:
%%time
stat_df = pd.DataFrame(
    columns=['dataset', '# Users', '# Items', '# Ratings', '# Ratings per user', 'Sparsity', 'Shape', 'Gini User', 'Gini Item', 'Concen.'])
for dataset in dataset_list:
    print(dataset)
    if raw_df_dict[dataset] is None:
        raw_df = load_raw_df(dataset, data_to_file, data_to_sep)
        raw_df_dict[dataset] = raw_df
    else:
        raw_df = raw_df_dict[dataset]
    
    raw_df = k_user_interactions(raw_df, 10)
    
    num_unique_users = len(pd.unique(raw_df.user))
    num_unique_items = len(pd.unique(raw_df.item))
    
    shape = (num_unique_users, num_unique_items)
    rating_matrix = df_to_sparse(raw_df, shape)

    stat_dict = get_stat_dict(rating_matrix)
    stat_dict['dataset'] = dataset
    stat_df = stat_df.append(stat_dict, ignore_index=True)

ml-1m
initial user, item: 6040 3706
after filter : 6040 3706
ml-10m
initial user, item: 69878 10677
after filter : 69878 10677
ml-20m
initial user, item: 138493 26744
after filter : 138493 26744
ml-25m
initial user, item: 162541 59047
after filter : 162541 59047
amusic
initial user, item: 16566 11797
after filter : 3951 11483
acd
initial user, item: 112395 73713
after filter : 36487 73493
acna
initial user, item: 157212 48186
after filter : 21361 44416
agames
initial user, item: 55223 17408
after filter : 11986 17100
ciao
initial user, item: 6762 16610
after filter : 3829 15768
epinions
initial user, item: 40163 139738
after filter : 15786 132964
yelp2015
initial user, item: 25677 25815
after filter : 24930 25799
yelp2018
initial user, item: 45919 45538
after filter : 45842 45538
gowalla
initial user, item: 107092 1280969
after filter : 68709 1247158
citeulike
initial user, item: 5551 16980
after filter : 5551 16980
pinterest
initial user, item: 55187 9916
after filter : 55187 9916
CPU times: user 2min 35s, sys: 12.7 s, total: 2min 48s
Wall time: 2min 48s

In [9]:
stat_df

,dataset,# Users,# Items,# Ratings,# Ratings per user,Sparsity,Shape,Gini User,Gini Item,Concen.
0,ml-1m,6040,3706,1000209,165.597517,0.955316,1.629790,0.528624,0.633562,0.282754
1,ml-10m,69878,10677,10000054,143.107330,0.986597,6.544722,0.570700,0.805249,0.516455
2,ml-20m,138493,26744,20000263,144.413530,0.994600,5.178470,0.580701,0.902942,0.714144
3,ml-25m,162541,59047,25000095,153.807932,0.997395,2.752739,0.589469,0.941897,0.844548
4,amusic,3951,11483,75044,18.993672,0.998346,0.344074,0.306667,0.450453,0.240486
5,acd,36487,73493,933651,25.588593,0.999652,0.496469,0.444807,0.545487,0.329630
6,acna,21361,44416,301976,14.136791,0.999682,0.480930,0.191547,0.580696,0.347895
7,agames,11986,17100,215645,17.991407,0.998948,0.700936,0.299394,0.583335,0.331930
8,ciao,3829,15768,129798,33.898668,0.997850,0.242834,0.451588,0.526729,0.311900
9,epinions,15786,132964,580752,36.789054,0.999723,0.118724,0.481602,0.676767,0.519681
10,yelp2015,24930,25799,690381,27.692780,0.998927,0.966317,0.448181,0.603781,0.351037
11,yelp2018,45842,45538,1182917,25.804219,0.999433,1.006676,0.426709,0.581081,0.345821
12,gowalla,68709,1247158,3831386,55.762506,0.999955,0.055092,0.545790,0.536477,0.361238
13,citeulike,5551,16980,204986,36.927761,0.997825,0.326914,0.470634,0.369647,0.209829
14,pinterest,55187,9916,1463580,26.520376,0.997325,5.565450,0.140110,0.451105,0.189882

# 20 user interactions

In [10]:
%%time
stat_df = pd.DataFrame(
    columns=['dataset', '# Users', '# Items', '# Ratings', '# Ratings per user', 'Sparsity', 'Shape', 'Gini User', 'Gini Item', 'Concen.'])
for dataset in dataset_list:
    print(dataset)
    if raw_df_dict[dataset] is None:
        raw_df = load_raw_df(dataset, data_to_file, data_to_sep)
        raw_df_dict[dataset] = raw_df
    else:
        raw_df = raw_df_dict[dataset]
    
    raw_df = k_user_interactions(raw_df, 20)
    
    num_unique_users = len(pd.unique(raw_df.user))
    num_unique_items = len(pd.unique(raw_df.item))
    
    shape = (num_unique_users, num_unique_items)
    rating_matrix = df_to_sparse(raw_df, shape)

    stat_dict = get_stat_dict(rating_matrix)
    stat_dict['dataset'] = dataset
    stat_df = stat_df.append(stat_dict, ignore_index=True)

ml-1m
initial user, item: 6040 3706
after filter : 6040 3706
ml-10m
initial user, item: 69878 10677
after filter : 69878 10677
ml-20m
initial user, item: 138493 26744
after filter : 138493 26744
ml-25m
initial user, item: 162541 59047
after filter : 162541 59047
amusic
initial user, item: 16566 11797
after filter : 1074 10116
acd
initial user, item: 112395 73713
after filter : 12284 71838
acna
initial user, item: 157212 48186
after filter : 2302 25285
agames
initial user, item: 55223 17408
after filter : 2734 15189
ciao
initial user, item: 6762 16610
after filter : 2075 14887
epinions
initial user, item: 40163 139738
after filter : 8693 123330
yelp2015
initial user, item: 25677 25815
after filter : 9788 25373
yelp2018
initial user, item: 45919 45538
after filter : 17137 45447
gowalla
initial user, item: 107092 1280969
after filter : 47752 1183848
citeulike
initial user, item: 5551 16980
after filter : 3097 16792
pinterest
initial user, item: 55187 9916
after filter : 52190 9909
CPU times: user 2min 32s, sys: 15.2 s, total: 2min 47s
Wall time: 2min 47s

In [11]:
stat_df

,dataset,# Users,# Items,# Ratings,# Ratings per user,Sparsity,Shape,Gini User,Gini Item,Concen.
0,ml-1m,6040,3706,1000209,165.597517,0.955316,1.629790,0.528624,0.633562,0.282754
1,ml-10m,69878,10677,10000054,143.107330,0.986597,6.544722,0.570700,0.805249,0.516455
2,ml-20m,138493,26744,20000263,144.413530,0.994600,5.178470,0.580701,0.902942,0.714144
3,ml-25m,162541,59047,25000095,153.807932,0.997395,2.752739,0.589469,0.941897,0.844548
4,amusic,1074,10116,37526,34.940410,0.996546,0.106168,0.267339,0.446593,0.229787
5,acd,12284,71838,616845,50.215321,0.999301,0.170996,0.426236,0.547223,0.323405
6,acna,2302,25285,66772,29.006082,0.998853,0.091042,0.197624,0.459295,0.258477
7,agames,2734,15189,97227,35.562180,0.997659,0.179999,0.282589,0.561123,0.306880
8,ciao,2075,14887,105827,51.000964,0.996574,0.139383,0.381354,0.522431,0.308324
9,epinions,8693,123330,482849,55.544576,0.999550,0.070486,0.419244,0.652472,0.498334
10,yelp2015,9788,25373,489820,50.042910,0.998028,0.385764,0.397219,0.595894,0.334590
11,yelp2018,17137,45447,806078,47.037288,0.998965,0.377077,0.376848,0.585314,0.338050
12,gowalla,47752,1183848,3530010,73.923815,0.999938,0.040336,0.494570,0.528868,0.355783
13,citeulike,3097,16792,171391,55.340975,0.996704,0.184433,0.393914,0.387320,0.213891
14,pinterest,52190,9909,1408089,26.980054,0.997277,5.266929,0.135933,0.457769,0.192324

# 10 core

In [12]:
%%time
stat_df = pd.DataFrame(
    columns=['dataset', '# Users', '# Items', '# Ratings', '# Ratings per user', 'Sparsity', 'Shape', 'Gini User', 'Gini Item', 'Concen.'])
for dataset in dataset_list:
    print(dataset)
    if raw_df_dict[dataset] is None:
        raw_df = load_raw_df(dataset, data_to_file, data_to_sep)
        raw_df_dict[dataset] = raw_df
    else:
        raw_df = raw_df_dict[dataset]
    
    raw_df = k_core(raw_df, 10)
    
    num_unique_users = len(pd.unique(raw_df.user))
    num_unique_items = len(pd.unique(raw_df.item))
    if num_unique_users == 0 or num_unique_items == 0:
        print('skip', dataset)
        continue
    
    shape = (num_unique_users, num_unique_items)
    rating_matrix = df_to_sparse(raw_df, shape)

    stat_dict = get_stat_dict(rating_matrix)
    stat_dict['dataset'] = dataset
    stat_df = stat_df.append(stat_dict, ignore_index=True)

ml-1m
initial user, item: 6040 3706
cycle 1 U 6040 -> 6040
cycle 1 I 3706 -> 3260
False True
cycle 2 U 6040 -> 6040
cycle 2 I 3260 -> 3260
False False
ml-10m
initial user, item: 69878 10677
cycle 1 U 69878 -> 69878
cycle 1 I 10677 -> 9708
False True
cycle 2 U 69878 -> 69878
cycle 2 I 9708 -> 9708
False False
ml-20m
initial user, item: 138493 26744
cycle 1 U 138493 -> 138493
cycle 1 I 26744 -> 15451
False True
cycle 2 U 138493 -> 138493
cycle 2 I 15451 -> 15451
False False
ml-25m
initial user, item: 162541 59047
cycle 1 U 162541 -> 162541
cycle 1 I 59047 -> 24330
False True
cycle 2 U 162541 -> 162539
cycle 2 I 24330 -> 24330
True False
cycle 3 U 162539 -> 162539
cycle 3 I 24330 -> 24330
False False
amusic
initial user, item: 16566 11797
cycle 1 U 16566 -> 3951
cycle 1 I 11797 -> 1935
True True
cycle 2 U 3951 -> 1190
cycle 2 I 1935 -> 750
True True
cycle 3 U 1190 -> 554
cycle 3 I 750 -> 365
True True
cycle 4 U 554 -> 309
cycle 4 I 365 -> 225
True True
cycle 5 U 309 -> 186
cycle 5 I 225 -> 134
True True
cycle 6 U 186 -> 111
cycle 6 I 134 -> 77
True True
cycle 7 U 111 -> 51
cycle 7 I 77 -> 27
True True
cycle 8 U 51 -> 10
cycle 8 I 27 -> 0
True True
cycle 9 U 10 -> 0
cycle 9 I 0 -> 0
True False
cycle 10 U 0 -> 0
cycle 10 I 0 -> 0
False False
skip amusic
acd
initial user, item: 112395 73713
cycle 1 U 112395 -> 36487
cycle 1 I 73713 -> 24238
True True
cycle 2 U 36487 -> 24383
cycle 2 I 24238 -> 19905
True True
cycle 3 U 24383 -> 22306
cycle 3 I 19905 -> 18940
True True
cycle 4 U 22306 -> 21777
cycle 4 I 18940 -> 18656
True True
cycle 5 U 21777 -> 21599
cycle 5 I 18656 -> 18541
True True
cycle 6 U 21599 -> 21525
cycle 6 I 18541 -> 18458
True True
cycle 7 U 21525 -> 21483
cycle 7 I 18458 -> 18425
True True
cycle 8 U 21483 -> 21465
cycle 8 I 18425 -> 18412
True True
cycle 9 U 21465 -> 21458
cycle 9 I 18412 -> 18407
True True
cycle 10 U 21458 -> 21453
cycle 10 I 18407 -> 18400
True True
cycle 11 U 21453 -> 21451
cycle 11 I 18400 -> 18398
True True
cycle 12 U 21451 -> 21450
cycle 12 I 18398 -> 18398
True False
cycle 13 U 21450 -> 21450
cycle 13 I 18398 -> 18398
False False
acna
initial user, item: 157212 48186
cycle 1 U 157212 -> 21361
cycle 1 I 48186 -> 7371
True True
cycle 2 U 21361 -> 5770
cycle 2 I 7371 -> 2628
True True
cycle 3 U 5770 -> 1930
cycle 3 I 2628 -> 1004
True True
cycle 4 U 1930 -> 562
cycle 4 I 1004 -> 299
True True
cycle 5 U 562 -> 128
cycle 5 I 299 -> 86
True True
cycle 6 U 128 -> 41
cycle 6 I 86 -> 19
True True
cycle 7 U 41 -> 0
cycle 7 I 19 -> 0
True True
cycle 8 U 0 -> 0
cycle 8 I 0 -> 0
False False
skip acna
agames
initial user, item: 55223 17408
cycle 1 U 55223 -> 11986
cycle 1 I 17408 -> 5841
True True
cycle 2 U 11986 -> 7677
cycle 2 I 5841 -> 4523
True True
cycle 3 U 7677 -> 6658
cycle 3 I 4523 -> 4101
True True
cycle 4 U 6658 -> 6265
cycle 4 I 4101 -> 3944
True True
cycle 5 U 6265 -> 6105
cycle 5 I 3944 -> 3862
True True
cycle 6 U 6105 -> 6021
cycle 6 I 3862 -> 3834
True True
cycle 7 U 6021 -> 5986
cycle 7 I 3834 -> 3814
True True
cycle 8 U 5986 -> 5967
cycle 8 I 3814 -> 3804
True True
cycle 9 U 5967 -> 5956
cycle 9 I 3804 -> 3800
True True
cycle 10 U 5956 -> 5947
cycle 10 I 3800 -> 3794
True True
cycle 11 U 5947 -> 5942
cycle 11 I 3794 -> 3793
True True
cycle 12 U 5942 -> 5942
cycle 12 I 3793 -> 3793
False False
ciao
initial user, item: 6762 16610
cycle 1 U 6762 -> 3829
cycle 1 I 16610 -> 3408
True True
cycle 2 U 3829 -> 2417
cycle 2 I 3408 -> 2795
True True
cycle 3 U 2417 -> 2212
cycle 3 I 2795 -> 2647
True True
cycle 4 U 2212 -> 2151
cycle 4 I 2647 -> 2609
True True
cycle 5 U 2151 -> 2140
cycle 5 I 2609 -> 2599
True True
cycle 6 U 2140 -> 2136
cycle 6 I 2599 -> 2597
True True
cycle 7 U 2136 -> 2136
cycle 7 I 2597 -> 2597
False False
epinions
initial user, item: 40163 139738
cycle 1 U 40163 -> 15786
cycle 1 I 139738 -> 10192
True True
cycle 2 U 15786 -> 11095
cycle 2 I 10192 -> 9069
True True
cycle 3 U 11095 -> 10751
cycle 3 I 9069 -> 8962
True True
cycle 4 U 10751 -> 10715
cycle 4 I 8962 -> 8949
True True
cycle 5 U 10715 -> 10707
cycle 5 I 8949 -> 8946
True True
cycle 6 U 10707 -> 10706
cycle 6 I 8946 -> 8945
True True
cycle 7 U 10706 -> 10706
cycle 7 I 8945 -> 8945
False False
yelp2015
initial user, item: 25677 25815
cycle 1 U 25677 -> 24930
cycle 1 I 25815 -> 15530
True True
cycle 2 U 24930 -> 22372
cycle 2 I 15530 -> 14951
True True
cycle 3 U 22372 -> 22125
cycle 3 I 14951 -> 14887
True True
cycle 4 U 22125 -> 22091
cycle 4 I 14887 -> 14876
True True
cycle 5 U 22091 -> 22090
cycle 5 I 14876 -> 14875
True True
cycle 6 U 22090 -> 22089
cycle 6 I 14875 -> 14873
True True
cycle 7 U 22089 -> 22087
cycle 7 I 14873 -> 14873
True False
cycle 8 U 22087 -> 22087
cycle 8 I 14873 -> 14873
False False
yelp2018
initial user, item: 45919 45538
cycle 1 U 45919 -> 45842
cycle 1 I 45538 -> 26669
True True
cycle 2 U 45842 -> 39856
cycle 2 I 26669 -> 25265
True True
cycle 3 U 39856 -> 39161
cycle 3 I 25265 -> 25064
True True
cycle 4 U 39161 -> 39068
cycle 4 I 25064 -> 25038
True True
cycle 5 U 39068 -> 39056
cycle 5 I 25038 -> 25034
True True
cycle 6 U 39056 -> 39055
cycle 6 I 25034 -> 25033
True True
cycle 7 U 39055 -> 39055
cycle 7 I 25033 -> 25033
False False
gowalla
initial user, item: 107092 1280969
cycle 1 U 107092 -> 68709
cycle 1 I 1280969 -> 54691
True True
cycle 2 U 68709 -> 34158
cycle 2 I 54691 -> 44021
True True
cycle 3 U 34158 -> 31147
cycle 3 I 44021 -> 41999
True True
cycle 4 U 31147 -> 30347
cycle 4 I 41999 -> 41373
True True
cycle 5 U 30347 -> 30038
cycle 5 I 41373 -> 41137
True True
cycle 6 U 30038 -> 29924
cycle 6 I 41137 -> 41052
True True
cycle 7 U 29924 -> 29887
cycle 7 I 41052 -> 41015
True True
cycle 8 U 29887 -> 29870
cycle 8 I 41015 -> 40996
True True
cycle 9 U 29870 -> 29860
cycle 9 I 40996 -> 40989
True True
cycle 10 U 29860 -> 29858
cycle 10 I 40989 -> 40988
True True
cycle 11 U 29858 -> 29858
cycle 11 I 40988 -> 40988
False False
citeulike
initial user, item: 5551 16980
cycle 1 U 5551 -> 5551
cycle 1 I 16980 -> 7849
False True
cycle 2 U 5551 -> 4123
cycle 2 I 7849 -> 6862
True True
cycle 3 U 4123 -> 3829
cycle 3 I 6862 -> 6612
True True
cycle 4 U 3829 -> 3756
cycle 4 I 6612 -> 6524
True True
cycle 5 U 3756 -> 3726
cycle 5 I 6524 -> 6486
True True
cycle 6 U 3726 -> 3715
cycle 6 I 6486 -> 6472
True True
cycle 7 U 3715 -> 3710
cycle 7 I 6472 -> 6468
True True
cycle 8 U 3710 -> 3710
cycle 8 I 6468 -> 6468
False False
pinterest
initial user, item: 55187 9916
cycle 1 U 55187 -> 55187
cycle 1 I 9916 -> 9335
False True
cycle 2 U 55187 -> 55178
cycle 2 I 9335 -> 9330
True True
cycle 3 U 55178 -> 55171
cycle 3 I 9330 -> 9321
True True
cycle 4 U 55171 -> 55165
cycle 4 I 9321 -> 9316
True True
cycle 5 U 55165 -> 55164
cycle 5 I 9316 -> 9316
True False
cycle 6 U 55164 -> 55164
cycle 6 I 9316 -> 9316
False False
CPU times: user 3min 58s, sys: 24.2 s, total: 4min 23s
Wall time: 4min 22s

In [13]:
stat_df

,dataset,# Users,# Items,# Ratings,# Ratings per user,Sparsity,Shape,Gini User,Gini Item,Concen.
0,ml-1m,6040,3260,998539,165.321026,0.949288,1.852761,0.528514,0.586218,0.259408
1,ml-10m,69878,9708,9995471,143.041744,0.985266,7.197981,0.570571,0.786661,0.494494
2,ml-20m,138493,15451,19964833,144.157705,0.990670,8.963368,0.580155,0.836033,0.578370
3,ml-25m,162539,24330,24890566,153.135961,0.993706,6.680600,0.588092,0.871051,0.655785
4,acd,21450,18398,527503,24.592214,0.998663,1.165888,0.428618,0.427359,0.235085
5,agames,5942,3793,103778,17.465163,0.995395,1.566570,0.285697,0.402838,0.215768
6,ciao,2136,2597,59884,28.035581,0.989205,0.822487,0.398235,0.406278,0.285519
7,epinions,10706,8945,300303,28.049972,0.996864,1.196870,0.403722,0.494997,0.305511
8,yelp2015,22087,14873,602517,27.279259,0.998166,1.485040,0.441275,0.512086,0.293510
9,yelp2018,39055,25033,988768,25.317322,0.998989,1.560141,0.416771,0.506528,0.288847
10,gowalla,29858,40988,1027464,34.411682,0.999160,0.728457,0.466591,0.434611,0.291539
11,citeulike,3710,6468,120324,32.432345,0.994986,0.573593,0.438803,0.305217,0.181751
12,pinterest,55164,9316,1460487,26.475364,0.997158,5.921426,0.141055,0.418826,0.181937